langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.83
langchain-pinecone==0.2.8
langchain-groq==0.3.8
flask==3.1.1
pypdf==5.6.1
python-dotenv==1.1.0
fpdf2==2.8.7
deep-translator==1.11.4
gunicorn==25.3.0
fastembed==0.8.0